img {
	max-width: 100%;
}

div.recipe {
	margin: 30px;
}

.tab-content {
	overflow: hidden;
}

.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}

@media screen and (min-width: 997px) {
	.wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}



.recipe-title,
.rating,
.recipe-description,
.submitted-by {
	margin-bottom: 15px;
}

.recipe-title {
	margin-top: 0;
}

.star, .star-static {
	color: orange;
}

.rounded {
	border: 1px solid black;
}